extends base

- var data = project && technologies;

block main
    form(action='/services/projects/create', method='POST', enctype='multipart/form-data')
        if (project)
            input(type='hidden', name='id', value='#{project._id}')
        .row
            input(name='title', type='text' value=(project ? project.title : ''))
        .row
            textarea(name='description')
                | #{(project ? project.description : '')}
        .row
            if (project)
                img(src='#{project.imgSrc}')
            input(name='image', type='file')
        .row
            input(name='url', value=(project ? project.url : ''))
        .row
            input(name='name', value=(project ? project.name : ''))
        if (technologies)
            each technology in technologies
                label #{technology.title}
                    input(type='checkbox', name='technologies', value='#{technology._id}', checked=(technology.isActive) ? 'checked' : undefined)
                    br
        .row
            input(type='submit')